.container {
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.imageContainer {
  position: relative;
  height: 500px;
  max-width: 400px;
  animation: move 3s infinite ease alternate;
  object-fit: cover;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  background-color: rgb(29, 125, 35);
  width: 100%;
  color: white;
  font-size: 15px;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
}

@media (min-width: 700px) {
  .content {
    flex-direction: row;
    justify-content: center;
    gap: 70px;
  }

  .title {
    margin-bottom: 50px;
  }
}
