* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.light {
  background-color: #ffffff;
  color: #3c3c3c;
}

.dark {
  background-color: #111;
  color: #bbb;
}

.theme {
  transition: 1s all ease;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  padding: 20px;
  background-color: transparent;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(187, 186, 186);
  border-radius: 20px;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 700px) {
  .container {
    padding: 0 60px;
  }
}
