.container {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  flex-direction: column-reverse;
  text-align: center;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.imageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  min-width: 400px;
  min-height: 300px;
  height: 500px;
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, green, rgb(251, 156, 172));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 75px;
}

.desc {
  font-size: 24px;
  font-weight: 300;
}

.image {
  width: 100%;
  /* height: 500px; */
  object-fit: cover;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    text-align: start;
  }

  .item {
    gap: 30px;
  }
}
