.container {
  height: 50px;
  padding: 0 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 20px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.logo:hover {
  color: #24784e;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link:hover {
  text-decoration: underline;
  transition: ease 2s;
}

.logout {
  border: none;
  padding: 5px;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
