.container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
  max-width: 1400px;
}

.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;
}

.post {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border: 1px solid rgb(187, 186, 186);
}

.img {
  object-fit: cover;
}

.imageContainer {
  position: relative;
  width: 200px;
  height: 150px;
}

.delete {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

.postTitle {
  padding: 10px;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  background-color: rgb(29, 125, 35);
  width: 100%;
  color: white;
  font-size: 15px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 50px;
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: flex-start;
  }
}
