.container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.posts {
  flex: 1;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

.post {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 50px 0px;
  background-color: gray;
  position: relative;
}

.img {
  object-fit: cover;
}

.imageContainer {
  position: relative;
  width: 200px;
  height: 150px;
}

.delete {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

.postTitle {
  padding: 10px;
}

.input,
.textarea {
  padding: 10px;
  background-color: white;
  background-repeat: 3px;
  border: 2px solid #000000;
  font-size: 20px;
  font-weight: bold;
  columns: #bbb;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  background-color: gold;
  width: 100%;
  color: white;
}
