.item {
  background-color: tan;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.item {
}

.image {
}

.content {
}

.title {
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  color: #999;
}
